* {
  padding: 0;
  margin: 0;
}
:root {
  --base: #644c38;
  --background: #F7F1E8;
  --yellow: #EA7513;
}
.container-fluid .title-topbear h3 {
  color: var(--base);
}
.thu-bong{
  background-color: var(--background);
}
.title-blog{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-blog h3{
  color: var(--base);
}
.blog .title-blog .arrow-blog .btn i{
  color: var(--base);
  font-size: 1.2rem;
  font-weight: bold;
}
.content .card {
  border-radius: 15px;
  box-shadow: 4px 4px 4px rgba(224, 224, 224, 0.815);
}
.content .card:hover{
  cursor: pointer;
  transform: scale(1.01);
  transition: 0.2s linear;
}
.content .card img{
  border-radius: 15px;
}
.content .card .card-body .card-title{
  color: var(--base);
  font-size: 1.1rem;
}
 

.image-container {
  text-align: center;
}
.image-container img {
  max-width: 100%;
  max-height: 400px; /* Đặt chiều cao tối đa của hình ảnh */
}
.button-container {
  margin-top: 10px;
  text-align: center;
}
.button-container button {
  margin: 0 5px;
}
.image-container {
  text-align: center;
}
.image-container img {
  max-width: 100%;
  max-height: 400px; /* Đặt chiều cao tối đa của hình ảnh */
}
.button-container {
  margin-top: 10px;
  text-align: center;
}
.button-container button {
  margin: 0 5px;
}
.content .card .card-body .card-text{
  color: var(--yellow);
  font-size: 0.8rem;
}
.content .card .card-body .card-text1{
  color: var(--base);
  font-size: 0.8rem;
}
.content .card .card-body .btn {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  color: var(--background);
  background-color: var(--base);
  border-radius: 10px;
 
}