.form-input {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    box-sizing: border-box;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
}

.form-check {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
}

/* Hide the browser's default radio button */
.gender .form-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* On mouse-over, add a grey background color */
.form-check:hover input~.checkmark {
    background-color: #CDCAC8;
}

/* When the radio button is checked, add a blue background */
.form-check input:checked~.checkmark {
    background-color: #644c38;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-check input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.form-check .checkmark:after {
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.bg-img {
    background-color: var(--base-2);
}