.ant-layout{
    padding: 0;
}
 .ant-layout-sider-children {
    min-width: 230px ;
    max-width: 230px  ;
}
.ant-layout .ant-layout-sider-trigger{
    min-width: 230px ;
    max-width: 230px  ;

}
.ant-layout .ant-layout-sider-trigger{
    background-color: #fff;
    color: #644C38;
}
.ant-layout-sider-children{
    background-color: #fff;
}
.ant-menu-dark{
    background-color: #fff;
}
.ant-menu-item-selected  .ant-menu-item-icon svg {
    color: #fff;
}
.ant-menu-item-icon svg{
    color: #644C38;
}

.ant-menu .ant-menu-submenu-arrow{
    color: #644C38;
}
.ant-menu-item .ant-menu-item-active .ant-menu-item-selected{
    background-color: #644C38;
    color: #fff;
}
.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline{
    background-color: #fff ;
}